*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
    /* overflow-x: hidden; */
    font-family: 'Raleway', sans-serif;
    color: white;
}

h2 {
    font-size: 3vw;
    margin: 0;
}

p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5vw 3vw;
}

.backHome {
    width: 4vw;
    height: auto;
    position: fixed;
    bottom: 3vw;
    right: 3vw;
    cursor: pointer;
}


/* style de la barre de navigation */

.navSuite {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    position: fixed;
    right: 0.5vw;
    top: 0;
    height: 100vh;
}

.navSuite ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.navSuite ul li a {
    color: white;
    text-decoration: none;
}

.navSuite ul li a {
    color: white;
    text-decoration: none;
}

.toInfo:hover {
    text-decoration: underline #FFE589 3px;
    transition: 1s;
}

.toPrevention:hover {
    text-decoration: underline #FFE589 3px;
}

.toHommage:hover {
    text-decoration: underline #FFE589 3px;
}


/* style du "2022" */

.year {
    writing-mode: vertical-lr;
    text-orientation: left;
    color: white;
    position: fixed;
    height: 100vh;
    display: flex;
    margin-left: 1vw;
    top: 0;
    left: 0.5vw;
}

.year p {
    margin: auto;
    font-size: 1rem;
}

main {
    max-width: 80vw;
    margin: auto;
    top: 0;
    padding-bottom: 10vh;
}


/* accueil */

.intro {
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 10vh;
}

.introText {
    margin-top: 10vw;
}

.introImg {
    width: 60vw;
}

.title {
    position: absolute;
    top: 77%;
    left: 5%;
}

h1 {
    color: white;
    z-index: 10;
    font-size: 7vw;
}

.strokeTextTitle {
    color: white;
    -webkit-text-stroke: 0.3px white;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 7vw;
    bottom: 22%;
    left: 2%;
}

.introCircle {
    position: absolute;
    width: 100vw;
    margin: auto;
    right: 0;
    top: 0;
    z-index: -1;
}


/* intro texte */

.feminicideDef {
    margin-right: 10vw;
    margin-bottom: 7vw;
}

.feminicidePourquoi {
    margin-left: 10vw;
}

.feminicidePourquoi h2 {
    text-align: right;
}

.feminicideFaire {
    margin-right: 10vw;
    margin-bottom: 7vw;
}

.faireText {
    margin-top: 10vw;
}


/* moyenne */

.moyenne {
    margin-top: 20vw;
}

.counter {
    font-size: 10vw;
    margin: auto;
    width: fit-content;
    position: relative;
}

.moyenne p {
    margin: auto;
    /* transform: translate(-50%, -50%);
    margin-left: 50%; */
    width: fit-content;
}

.strokeTextNumber,
.strokeTextAvr {
    color: white;
    -webkit-text-stroke: 0.3px white;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 8rem;
    top: 5%;
    left: 2%;
}

.counter:after {
    font-size: 0.5em;
}

.hide {
    transition: 1s;
    pointer-events: none;
}

.textCounter {
    position: relative;
    text-align: center;
    font-size: 2.2em;
}

.textCounter.active {
    transition: ease-in-out 0.5s;
    transition-delay: 0.5s;
    opacity: 100;
}


/* graph-year */

.graphTitle {
    margin: 10vw 0;
    text-align: center;
}

.graphTitle>p {
    margin-bottom: 20px;
}

.graph {
    display: flex;
    margin: auto;
}

.graph svg {
    width: 80vw;
    justify-content: center;
    align-items: center;
}

.graph p {
    width: 50%;
    font-size: 1rem;
    text-align: start;
    margin-left: 0;
}

.axe {
    stroke: white;
    stroke-width: 5;
}

#arrow {
    fill: white;
}


/* carte */

#myMap {
    height: 80vh;
    max-width: 80vw;
    margin: auto;
    border: 1px solid white;
}


/* video */

.titleMap {
    text-align: center;
}

#preventionStyle {
    margin: auto;
    margin-top: 20vw;
}

.phoneNumber {
    font-size: 8rem;
    margin: auto;
    width: fit-content;
    position: relative;
    padding-bottom: 2vh;
}

#preventionStyle p {
    margin: auto;
    width: fit-content;
}

.lecteurVid {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vw;
}

.lecteurVid video {
    border: 1px solid white;
    margin: 2vw;
    width: 70vw;
    height: auto;
}

.pauseDiv {
    background-color: rgba(105, 105, 105, 0.5);
    color: white;
    font-size: 2vw;
    display: none;
}

progress {
    width: 70vw;
    margin: 1vw;
}

.boutonLecteur {
    font-size: 1.5vw;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: rgb(255, 229, 137);
    border-radius: 10px;
}

.volumeText {
    font-size: 1rem;
}


/* hommage */

.hommage {
    margin-top: 30vw;
    position: relative;
}

.strokeTextHommage {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 5rem;
    top: 5%;
    left: 1.5%;
}

.titleHommage {
    /* position: absolute;
    top: 52%;
    left: 5%; */
    position: relative;
    margin: auto;
    width: fit-content;
    font-size: 5rem;
}

.titleHommage h2 {
    position: absolute;
    font-size: 7vw;
    top: 52%;
    left: 5%;
}


/* nuage annee */

.prenom {
    opacity: 0;
    font-size: 0.7rem;
}

.annee {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    z-index: 3000;
}

.annee:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #FFE589;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.annee:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* parce que l'id ne peut pas commencer par un nombre donc on doit l'écrire sous cette forme "#\3[premier chiffre] [suite des chiffres] */

#a2016 {
    left: 10vw;
    top: 25vh;
}

#a2017 {
    left: 15vw;
    top: 50vh;
}

#a2018 {
    left: 30vw;
    top: 35vh;
}

#a2019 {
    left: 40vw;
    top: 60vh;
}

#a2020 {
    left: 35vw;
    top: 10vh;
}

#a2021 {
    left: 50vw;
    top: 20vh;
}

#a2022 {
    left: 60vw;
    top: 40vh;
}


/* à ajouter */

.hommageInstruction {
    text-align: center;
}

#nuage {
    height: 80vh;
    margin: 10vw 0;
}


/* conclusion */

.conclusion {
    margin: 10vw 0;
}


/* mentions légales */

.mentions p {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.mentions .mention:hover {
    text-decoration: underline;
}

.mentionsTexte {
    margin: 10vh 0;
    text-align: start;
}

.mentionsTexte p {
    text-align: start;
    font-size: default;
    font-weight: 300;
}

.mentionLink {
    text-decoration: underline;
    color: white;
}

.mentionLink:hover {
    text-decoration: underline #FFE589;
    color: #FFE589;
}

.invisible {
    display: none;
    max-height: 2vh;
    transition: max-height 1s;
}

.visible {
    display: block;
    max-height: 100vh;
    transition: max-height 1s;
}


/* animation au scroll */

.reveal [class*="reveal-"] {
    opacity: 0;
    transform: translateY(30px);
}

[class*="reveal-"] {
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-2 {
    transition-delay: 0.1s;
}

.reveal-3 {
    transition-delay: 0.2s;
}

.reveal-4 {
    transition-delay: 0.3s;
}


/* media query */

@media screen and (max-width:1000px) {
    .graph {
        flex-direction: column;
    }
    .graph p {
        width: 100%;
    }
    .graphTitle>p {
        margin-bottom: 0;
    }
    .graph svg {
        height: 50vw;
    }
}

@media screen and (max-width:700px) {
    main {
        margin: auto;
    }
    .navSuite {
        right: 0;
    }
    .textCounter {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.15rem;
    }
    .titleHommage {
        font-size: 2.5rem;
    }
    .strokeTextHommage {
        font-size: 2.5rem;
    }
    .annee {
        font-size: 1.5rem;
    }
    .prenom {
        font-size: 0.57rem;
    }
}