*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    color: white;
}

h2 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
}

.logo {
    font-size: 4vw;
    margin-left: 2vw;
}


/* style de la barre de navigation */

.navSuite {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    position: fixed;
    right: 0;
    top: auto;
    height: 100vh;
}

.navSuite ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navSuite ul li a {
    color: white;
    text-decoration: none;
}

.navSuite ul li a {
    color: white;
    text-decoration: none;
}

.toInfo {
    text-decoration: underline;
    text-decoration-color: #FFE589;
}

.toPrevention {
    text-decoration: underline;
    text-decoration-color: #FFE589;
}

.toHommage {
    text-decoration: underline;
    text-decoration-color: #FFE589;
}


/* style du "2022" */

.year {
    writing-mode: vertical-lr;
    text-orientation: left;
    color: white;
    position: fixed;
    height: 100vh;
    display: flex;
    margin-left: 1vw;
}

.year p {
    margin: auto;
}

main {
    max-width: 80vw;
    margin: auto;
    top: 0;
}


/* accueil */

.intro {
    position: relative;
    width: fit-content;
    margin: auto;
}

.intro img {
    width: 60vw;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-top: 35%;
}

.title {
    position: absolute;
    top: 52%;
    left: 5%;
}

h1 {
    color: white;
    z-index: 10;
    font-size: 7vw;
}

.strokeTextTitle {
    color: white;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 7vw;
    top: 30%;
    left: 1.5%;
}

.introCircle {
    position: absolute;
    width: 100vw;
    margin: auto;
    right: 0;
    top: 0;
    z-index: -1;
}


/* intro texte */

.feminicide-pourquoi h2 {
    margin-left: 40vw;
}


/* 86 */

.counter {
    font-size: 10vw;
    transform: translate(-50%, -50%);
    margin-left: 50vw;
    margin-top: 50vh;
    position: relative;
}

.Moyenne p {
    margin: auto;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    width: fit-content;
}

.strokeTextNumber {
    color: white;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 10vw;
    top: 5%;
    left: 1.5%;
}


/* graph-year */

.graph {
    display: flex;
    margin: auto;
    margin-top: 50vh;
}

.graph svg {
    width: 100%;
}

.graph p {
    width: 50%;
    font-size: 1vw;
}

.axe {
    stroke: white;
    stroke-width: 5;
}

#arrow {
    fill: white;
}


/* carte */

#myMap {
    height: 80vh;
    max-width: 80vw;
    margin: auto;
    border: 1px solid white;
}


/* video */

#prevention {
    margin: auto;
}

.phoneNumber {
    font-size: 10vw;
    transform: translate(-50%, -50%);
    margin-left: 50vw;
    margin-top: 50vh;
    position: relative;
}

#prevention p {
    margin: auto;
    width: fit-content;
}

.lecteurVid {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lecteurVid video {
    border: 1px solid white;
    margin: 2vw;
    margin-top: 50vh;
}

.pauseDiv {
    background-color: rgba(105, 105, 105, 0.5);
    color: white;
    font-size: 2vw;
    display: none;
}

progress {
    width: 800px;
    margin: 1vw;
}

.boutonLecteur {
    font-size: 1.5vw;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: "FFE589";
}


/* hommage */

.titleHommage {
    position: absolute;
    top: 52%;
    left: 5%;
}


/* nuage annee */

.annee {
    cursor: pointer;
    font-size: 3rem;
}

.prenom {
    display: none;
}

#nuage {
    max-height: 500px;
}